# Python Pandas for Beginners 

### Priyaranjan Mohanty

**What is Pandas ?**

Pandas is a software library written for the Python programming language for data manipulation and analysis. 
In particular, it offers data structures and operations for manipulating numerical tables and time series. 
It is free software released under the three-clause BSD license.

The name is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.

**Pandas support 2 types of Data Structures :- **

    a) Dataframe
    b) Series 

**Dataframe -**
pandas DataFrame (in a Jupyter Notebook) appears to be nothing more than an ordinary table of data consisting of rows and columns. Hiding beneath the surface are the three components--the index, columns, and data (also known as values)

So as to understand the Dataframe better , lets load Movies data into a Dataframe and explore the methods and attributes avilable with Dataframe .

### Import the Pandas package with pd as alias

In [1]:
import pandas as pd

#### Use the read_csv function to read in the movie dataset

 read_csv is an important pandas function to read csv files and do operations on it.

In [3]:
# read a CSV file into Python and return a DataFrame as output
Movie_DF = pd.read_csv('movie.csv')

#### Let's check the dataype returned by read_csv() and confirm that indeed the output is of type Dataframe

In [4]:
# Check the Data type of the output returned by pd.read_csv()

print(type(Movie_DF))

<class 'pandas.core.frame.DataFrame'>

#### Now , that we have read the CSV file into a Pandas Dataframe - 
       a) We check the data for first 5 observations using head() 
       b) we can also check the data for last 5 observations using tail()

In [5]:
# Show the content of first 5 observations in a Dataframe

Movie_DF.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
# Show the content of last 5 observations in a Dataframe

Movie_DF.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

You will observe the following in the above Dataframe content displayed -
    
    a) Observation : Each Row of Data is called an Observation 
    b) INDEX : Provides a label to the Rows of a Dataframe 
    c) Columns : Each column also called Attribute / Feature contains a homogenous set of data 
    d) Column Name : Each column is being uniquely identified through a Column Name


Pandas uses NaN (not a number) to represent missing values.

### Do you Know -

You can control how many observations to be displayed as part of head() or tail()

In [7]:
# Show the content of first 3 observations in a Dataframe

Movie_DF.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

### Accessing the 3 individual components of a DataFrame

    the index, 
    columns, 
    and data
    

Each of these components is itself a Python object with its own unique attributes and methods.

In [8]:
# Fetch all the Index values from the Dataframe.

Movie_index = Movie_DF.index

print("The values in the index column is : " , Movie_index)

print('\n')

print("The Data Type of the Index is     : " , type(Movie_index))

The values in the index column is :  RangeIndex(start=0, stop=4916, step=1)


The Data Type of the Index is     :  <class 'pandas.core.indexes.range.RangeIndex'>

In [9]:
# Fetch all the Column Names from the Dataframe.

Movie_Col_Names = Movie_DF.columns

print("The Column Names are  : " , Movie_Col_Names)

print('\n')

print("The Data Type of the Column Names is     : " , type(Movie_Col_Names))

The Column Names are  :  Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')


The Data Type of the Column Names is     :  <class 'pandas.core.indexes.base.Index'>

In [10]:
# Fetch all the Values from the Dataframe.

Movie_Values = Movie_DF.values

print("The Values in the Dataframe are  : " , Movie_Values)

print('\n')

print("The Data Type of the Values is     : " , type(Movie_Values))

The Values in the Dataframe are  :  [['Color' 'James Cameron' 723.0 ... 7.9 1.78 33000]
 ['Color' 'Gore Verbinski' 302.0 ... 7.1 2.35 0]
 ['Color' 'Sam Mendes' 602.0 ... 6.8 2.35 85000]
 ...
 ['Color' 'Benjamin Roberds' 13.0 ... 6.3 nan 16]
 ['Color' 'Daniel Hsia' 14.0 ... 6.3 2.35 660]
 ['Color' 'Jon Gunn' 43.0 ... 6.6 1.85 456]]


The Data Type of the Values is     :  <class 'numpy.ndarray'>

**How to check the Structure of a DataFrame **

Structure of a Dataframe can be enquired / checked using info() method of a Dataframe object

In [11]:
# Display the structure of a Dataframe

Movie_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
color                        4897 non-null object
director_name                4814 non-null object
num_critic_for_reviews       4867 non-null float64
duration                     4901 non-null float64
director_facebook_likes      4814 non-null float64
actor_3_facebook_likes       4893 non-null float64
actor_2_name                 4903 non-null object
actor_1_facebook_likes       4909 non-null float64
gross                        4054 non-null float64
genres                       4916 non-null object
actor_1_name                 4909 non-null object
movie_title                  4916 non-null object
num_voted_users              4916 non-null int64
cast_total_facebook_likes    4916 non-null int64
actor_3_name                 4893 non-null object
facenumber_in_poster         4903 non-null float64
plot_keywords                4764 non-null object
movie_imdb_link              4916 non-null object
num_user_for_reviews         4895 non-null float64
language                     4904 non-null object
country                      4911 non-null object
content_rating               4616 non-null object
budget                       4432 non-null float64
title_year                   4810 non-null float64
actor_2_facebook_likes       4903 non-null float64
imdb_score                   4916 non-null float64
aspect_ratio                 4590 non-null float64
movie_facebook_likes         4916 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [12]:
# Just display the Data types of the columns of a Dataframe

Movie_DF.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

**We can extract the Count of each DataTypes in a Datframe using get_dtype_counts()**

In [13]:
# Display the cummulative Data Type Counts in a Dataframe

Movie_DF.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

**Series**

Time to explore the Series object in Pandas .

A Series is a single column of data from a DataFrame. 
It is a single dimension of data, composed of just an index and the data.

In [14]:
# Extract the values in the column 'director_name' from the Movies DataFrame

Movie_DF['director_name']

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [15]:
# Extract the values in the column 'director_name' from the Movies DataFrame usinf dot approach
# Note - This approach is not encouraged as it will not work when a column name has blank space

Movie_DF.director_name

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

**Now , lets check the Data Type of the values extracted from a single column of a Dataframe **

In [16]:
# Display the Data type of a Column extracted from a DataFrame

print(type(Movie_DF['director_name']))

<class 'pandas.core.series.Series'>

**Explore the Methods available with SERIES **

let's select two Series with different data types from the Movie Dataframe. 
The director_name column contains strings, formally an object data type, and the column actor_1_facebook_likes contains numerical data, formally float64:

In [17]:
# Create 2 Series from the Movies Dataframe.

director = Movie_DF['director_name']
actor_1_fb_likes = Movie_DF['actor_1_facebook_likes']

print(type(director))
print(type(actor_1_fb_likes))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

**head() with SERIES object **

head() method is available with SERIES Dataframe , using which we can fetch specific number of elements from the top ( default is 5 elements )

In [18]:
print(director.head())

print('\n')  # Print an Empty Line 

print(actor_1_fb_likes.head(3))

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object


0     1000.0
1    40000.0
2    11000.0
Name: actor_1_facebook_likes, dtype: float64